*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Monoton', cursive;*/
    scroll-behavior: smooth;
    overflow-x: hidden;
    }

#container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    grid-template-areas: "title"
                         "menu"
                         "content";
    background: rgb(17,17,17);
    background: linear-gradient(148deg, rgba(17,17,17,1) 0%, rgba(41,41,41,1) 100%);
}
#title{
    grid-area: title;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color:white;
    font-size: 2.8em;
    font-weight: 200;
    user-select: none;
    cursor: pointer;
    
}
#content{
    grid-area: content;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#menu{
    grid-area: menu;
    display: flex;
    justify-content: center;
    background: rgb(29,29,29);
    background: linear-gradient(148deg, rgba(29,29,29,1) 0%, rgba(52,52,52,1) 100%);
}
#menuDIV{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:rgb(120, 120, 120);
    font-weight: 800;
    width: 40%;
}
#menuDomov, #menuGaleria, #menuKontakt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
#contentDomov{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
    grid-template-areas:"space3 space4 space4 space2"
                        "space3 image title space2"
                        "space3 image arrow space2"
                        "space3 space5 space5 space2";
}
#image{
    grid-area: image;
}
#contentDomov img{
    height: 60vh;
    
    
    box-shadow: 0px 0px 12px 2px rgb(0 0 0 / 28%);
}
#imgFrame{
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    left: 5%;
    top: 10%;
    position: relative;
}
#contentDomovTitle{
    grid-area: title;
    font-size: 6em;
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    font-weight: 200;
    cursor: default;
    user-select: none;
}
#contentDomovSubtitle{
    font-size: 0.2em;
    color:rgb(120, 120, 120);
    font-weight: 800;
}
#arrow{
    grid-area: arrow;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#arrow button{
    height: fit-content;
    width: fit-content;
    border-radius: 40px;
    padding:10px;
    background-color: rgb(44, 44, 44);
    color:rgb(120, 120, 120);
    border: none;
    font-size: 2em;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}
.slideAway{
    animation: slideAway 0.5s ease-in forwards;
}
.slideIn{
    animation: slideIn 0.5s ease-in forwards;
}

@keyframes slideAway{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes slideIn{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}