#contentGaleria{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
    grid-template-areas:"space3 space4 space4 space2"
                        "space3 galeria galeria space2"
                        "space3 galeria galeria space2"
                        "space3 space5 space5 space2";
}
#galeria{
    grid-area: galeria;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#galeria img{
    object-fit: cover;
}
.imgContainer{
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 1%;
}
#zoomIn{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1px);
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-content: center;
}
#zoomInBox{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#zoomIn img{
    height: 80vh;
}
#leftArrow{  
    position: relative;
    cursor: pointer;
    color:white;
    height: fit-content;
    align-self: center;
}
#rightArrow{
    position: relative;
    cursor: pointer;
    color:white;
    height: fit-content;
    align-self: center;
}
#close{
    position: absolute;
    top: 3vh;
    right: 3vh;
    color:white;
    cursor: pointer;
}
::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-track{
    margin: 7px 0;
    border-radius: 10px;
    background-color: #1d1d1d;
}

::-webkit-resizer{
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb{
    border-radius: 4px;
    border: 0px solid rgba(255,255,255,0);
    background-clip: content-box;
    background-color:rgba(52,52,52,1);
}